A {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.unnamed1 {  background-color: #33CC33}
.unnamed2 {  color: #FF0000; background-color: #33FF33}
.unnamed3 {  background-color: #FFCC66}
