
body {
	background-color: #fff;
	font:menu;
	margin:0;
	padding:0;
	border-top:10px solid #e8e8e5;
	border-right:10px solid #e8e8e5;
	border-bottom:10px solid #e8e8e5;
	height:100%;
}
table 
{
	font:menu;
}
#container {
	padding:5px;
	background:#fff;
}
h1 {
	font-size:12pt;
}
h2 {
	font-size:11pt;
}
h3 {
	font-size:8pt;
}
a {
	color: #0000FF;
	font-style: normal;
	text-decoration: none;
}

a.screens {
	color: #FFFFFF;
}

a:hover {
	color: #FF0000;
}

img.img-border,img.fvjv_center_vert_SS
{	
	border:1px solid black;
}

.fvjv_line_height
{
	line-height:20px;
}

.fvjv_center_vert,img.fvjv_center_vert_SS
{
	vertical-align:middle;
}

.fvjv_table_spacer
{
	padding-top:10px;
	padding-bottom:5px;
}

img.icon
{
	height:16px;
	width:16px;
	vertical-align:text-bottom;
	padding-right:3px;
}