body{
	background-color: rgb(245,245,245);
	scroll-behavior: smooth;
    color:hsl(240,0%,30%);
}
*{
	margin: 0;
	padding:0;
	font-family: 'Microsoft Yahei';
}

.messenger{
	display: none;
}

.HeartAnimation {
    display: inline-block;
    position: absolute;
    background-image: url('../img/web_heart_animation_edge.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
    top: 16px;
    height: 32px;
    width: 32px;
    -ms-transform: translate(-50%, -47.5%);
    transform: translate(-50%, -47.5%)
}
.like-active {
    animation-timing-function: steps(28);
    animation-name: heart-burst;
    animation-duration: .8s;
    animation-iteration-count: 1;
    display: inline-block;
    animation-fill-mode: forwards;
}

@keyframes heart-burst {
    0% {
        background-position: left
    }
    100% {
        background-position: right
    }
}
